
*{
    font-family: 'Lobster', cursive;
}

body{
    background-image: linear-gradient(teal, lightgray);
    height: 100vh;
}

.nav-style{
    background-color: gainsboro !important;
    border-bottom: 1px solid black;
}

.wrapper{
    margin-top: 100px;
    
}

#time{
    padding-left: 7px;
    
}

#time-style{
   /*  margin-top: 80px;
    margin-left: 153px;
    width: 40%;
    padding: 10px;
    border: solid 2px red;
    border-radius: 5px;
    background-color: lightgray;
    color: red; */

    padding-top: 20px;
    text-align: center;
}

#jumbo{
    border-radius: 15px;
    /* border: solid 2px black !important; */
    font-weight: bolder !important;
    margin-top: 175px;
    background-color: gainsboro;
    box-shadow: 10px 15px 13px  rgb(31, 30, 30);
    
    
    
}

.styles{
    border-top: 10px double black;
    width: 100%;
    
}

/* #underline{
    border-bottom: 3px solid black;
}
 */
#start-btn, #home-btn, #submit-btn, #try-btn{
    background-color: rgb(7, 131, 131);
    color: whitesmoke;
    border: none !important;
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 5px !important;
}






#start-btn:hover{
    transition: transform 150ms;
    transform: scale(1.05);
}

.choice:hover{
    transition: transform 150ms;
    transform: scale(1.05);
}

#submit-btn:hover{
    transition: transform 150ms;
    transform: scale(1.05);
}

#try-btn:hover{
    transition: transform 150ms;
    transform: scale(1.05);
}




.hide{
    display: none;
}

#answer-btn{
    background-color: turquoise;
    color: black;
    border: solid 1px black;
}

#answers{
    text-align: center;
    margin-top: 30px;
}

.question-font{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.question-container{
    border-radius: 50px;
    border: none !important;
    margin-top: 85px;
    background-color: gainsboro;
    box-shadow: 10px 15px 13px  rgb(31, 30, 30);
}

.choice{
    margin: 20px;
    background-color: rgb(7, 131, 131);
    color: whitesmoke;
    border: solid 1px black;
    border-radius: 10px;
    font-size: 25px;
    padding: 15px;
    
}

.card{
    margin-top: 100px;
    border-radius: 10px;
    border: 2px solid black;
    
}

/* #submit-btn{
    background-color: turquoise;
    color: black;
    border: solid 1px black;
    margin-top: 10px;
    font-weight: bolder;

}

#try-btn{
    background-color: turquoise;
    color: black;
    border: solid 1px black;
    margin-top: 10px;
    font-weight: bolder;

}
 */

